
# For linting
pylint

# For Formatting
black

# For Testing
pytest

# For Documentation
sphinx

# For Type Checking
mypy

#########################

click

langchain
langchainhub
langchain_openai
langchain_experimental

python-dotenv

# Git Manipulation
pygit2

# LSP
jedi

